@import "variables";

@mixin container(){
    height: 100vh;
    background-color: white;
    padding: 7rem 7rem 2rem 7rem;
    @media screen and (max-width: $bp-tablet) {
        padding: 16rem 0 2rem 3rem;
    }
}

@mixin flexEvenlyCentered(){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-items: center;
}

@mixin listStyleColored($color) {
    li{
        list-style: none;
        display: flex;
        justify-items: left;
        justify-content: left;
    }
    li::before {
        content: "\2022";
        color: $color;
        font-weight: bold;
        font-size: 50px;
        margin-top: -30px;
        width: .5em;
        //margin-left: -1em;
    }
}

@mixin flexEvenly(){
    display: flex;
    justify-content: space-evenly;
}

@mixin centerItems(){
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin centerItemsAbsolute(){
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button($background,$color){
    border-color: $darkTheme;
    border-style: solid;
    border-width: thin;
    width: 100%;
    padding: 14px;
    font-size: 1vw;
    background: $background;
    border-radius: 8px;
    color: $color;
    box-shadow: 0 8px 24px rgba(146, 136, 224, 0.3);
}

@mixin tableStyle($width,$mobileWidth){
        h1 {
            margin: 0 0 1rem 0;
            font-size: 3vh;
            font-weight: 700;
            color: #170303;
        }

        table {
            //width: $width;
            border-collapse: collapse;
            border-spacing: 0;
            min-width: 100%;
            max-width: 1400px;
            @media screen and (max-width: $bp-mobile) {
                width: $mobileWidth;
            }

            td, th {
                padding: 1rem;
                font-size: 1.7vh;
                font-weight: 500;
            }

            th {
                color: $grey;
            }
            td{
               font-family: "Segoe UI";
            }

            a {
                color: $link;
                font-size: 1.7vh;
                text-decoration: underline;
            }
        }

        .listBottom {
            margin: 2rem 0 2rem 0;

            a {
                padding: .4rem 1rem .4rem 1rem;
                border: 1px solid $link;
                font-size: 2vh;
                @include centerItems;
                color: $link;
                border-radius: 8px;
                font-weight: 700;
            }
        }
}

@mixin selectOptionStyle($color, $bg){
    padding: .5rem;
    font-size: 2vh;
    width: 100%;
    color: $color;
    background-color: $bg;
    border: 1px solid $borderColor;
    border-radius: 8px;
    @media screen and (max-width: $bp-mobile) {
        padding: 2rem;
        //margin: 1rem 0;
    }
}


