@import "variables";

@mixin container(){
    min-height: 80vh;
    background-color: white;
    padding: 12vh 7vw 2vh 7vw;
    @media screen and (max-width: $bp-tablet) {
        padding: 16rem 5rem 2rem 5rem;
    }
}

@mixin flexEvenlyCentered(){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-items: center;
}

@mixin listStyleColored($color) {
    li{
        list-style: none;
        display: flex;
        justify-items: left;
        justify-content: left;
    }
    li::before {
        content: "\2022";
        color: $color;
        font-weight: bold;
        font-size: 50px;
        margin-top: -30px;
        width: .5em;
        //margin-left: -1em;
    }
}

@mixin flexEvenly(){
    display: flex;
    justify-content: space-evenly;
}

@mixin centerItems(){
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin centerItemsAbsolute(){
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button($background,$color){
    border-color: $darkTheme;
    border-style: solid;
    border-width: thin;
    width: 100%;
    padding: 14px;
    font-size: 1vw;
    background: $background;
    border-radius: 8px;
    color: $color;
    box-shadow: 0 8px 24px rgba(146, 136, 224, 0.3);
}

@mixin tableStyle($width,$mobileWidth){
        h1 {
            margin: 0 0 1rem 0;
            font-size: 3vh;
            font-weight: 700;
            color: #170303;
        }

        table {
            //width: $width;
            border-collapse: collapse;
            border-spacing: 0;
            min-width: 100%;
            max-width: 1400px;
            @media screen and (max-width: $bp-mobile) {
                width: $mobileWidth;
            }

            td, th {
                padding: 1.5rem;
                font-size: 1.7vh;
                font-weight: 400;
            }

            th {
                color: $grey;
            }
            td{
               font-family: "Segoe UI";
            }

            a {
                color: $link;
                font-size: 1.7vh;
                text-decoration: underline;
            }
        }

        .listBottom {
            margin: 2rem 0 2rem 0;

            a {
                padding: .4rem 1rem .4rem 1rem;
                border: 1px solid $link;
                font-size: 2vh;
                @include centerItems;
                color: $link;
                border-radius: 8px;
                font-weight: 700;
            }
        }
}

@mixin selectOptionStyle($color, $bg){
    padding: .5rem;
    font-size: 2vh;
    width: 100%;
    color: $color;
    background-color: $bg;
    border: 1px solid $borderColor;
    border-radius: 8px;
    @media screen and (max-width: $bp-mobile) {
        padding: 2rem;
        //margin: 1rem 0;
    }
}

@mixin addEmployeeSection(){
    //@include centerItemsAbsolute;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    max-height: 90vh;
    @media screen and (max-width: $bp-mobile) {
        width: 75vw;
    }

    .flex {
        @include flexCenter;
    }

    input, select, button {
        width: 100%;
        font-size: 13px;
        padding: .6rem;
        border-radius: 10px;
        border: 1px solid $borderColor;
        margin: .7rem;

        &:focus {
            outline: none;
        }
    }

    .name {
        //width: 30%;
    }

    select {
        width: 105%;
        background-color: white;
    }

    button {
        cursor: pointer;
        border: 1px solid black;
        font-weight: bold;
        background-color: white;

        &:hover {
            background-color: $borderColor;
        }
    }

    p {
        font-size: 10px;
        color: red;
        margin: 0 1rem;
    }

    label {
        color: #052606;
        font-size: 11px;
        margin: 0 1rem;
    }

    h5 {
        font-size: 11px;
        font-weight: 100;
        padding: 1rem;
    }
}

@mixin excelTableStyle{
    width: 90vw;

    td, .error {
        padding: 10px;
        margin: 5px;
        font-size: 1rem;
        color: #1a202c;
        @media screen and (max-width: $bp-tablet) {
            font-size: 2rem;
        }
    }

    th {
        color: #5b5b5b;
        font-weight: 400;
        font-size: 1rem;
        @media screen and (max-width: $bp-tablet) {
            font-size: 2rem;
        }
    }

    .error {
        border: 1px solid red;
    }
}

.pagination{
    a{
        font-size: 2vh;
        padding: 5px 15px;
    }
}


