// Body
$body-bg1: #ef0a0a;
$body-bg2: #e7e7e7;
$theme:#EA7C69;
$appWhite: #e1e1e1;
$offWhite: #ffffff;
$secondaryColor:#9288E0;
$blue: #2c83ea;
$pasteColor:#50D1AA;
$borderColor: #e5e5e5;
$darkTheme: #5b3836;

$bp-tablet: 768px;
$bp-mobile: 425px;
$bp-laptop: 1281px;
$bp-mediumDesktop: 1921px;
$bp-largeDesktop: 3841px;
