// Body
$body-bg1: #f5f5f5;
$body-bg2: #e7e7e7;
$theme:#EA7C69;
$appWhite: #e1e1e1;
$offWhite: #ffffff;
$secondaryColor:#9288E0;
$blue: rgba(11, 78, 249,1);
$link: rgba(0, 135, 214, 1);
$pasteColor: #4f8c41;
$grey:rgba(107, 117, 135, 1);
$borderColor: rgba(225, 228, 233, 1);
$darkTheme: #5b3836;
$datepicker__font-size: 4rem;

$bp-tablet: 768px;
$bp-mobile: 425px;
$bp-mobile-large: 515px;
$bp-laptop: 1281px;
$bp-mediumDesktop: 1921px;
$bp-largeDesktop: 3841px;

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    font-size: 2vh;
    padding: .7rem;
    border-radius: 8px;
    height: 2.6vh;
}

td{
    text-transform: capitalize;
}
