@import "variables";
@import "mixin";

.addBulkEmployeeContainer {
    @include addEmployeeSection;
    width: 94.5vw;
    margin: 10vh 0 0 2vw ;
    font-size: 1rem;
    @media screen and (max-width: $bp-tablet) {
        font-size: 2rem;
        width: 96vw;
        margin: 10vh 2vw 2vh 2vw ;
    }

    a{
        font-size: 1rem;
        cursor: pointer;
        padding: 1rem;
        float: right;
        color: #18398c;
        @media screen and (max-width: $bp-tablet) {
            font-size: 2rem;
        }
    }

    .defaultDiv {
        height: 70vh;
        border: 1px solid #c4c4c4;
        background-color: #f1f1f1;

        label {
            @include centerItemsAbsolute;
            text-align: left;
            font-size: 2rem;
            color: #1a202c;
            cursor: pointer;
        }
    }

    .tableDiv {
        height: 70vh;
        overflow-y: scroll;
        margin: 1rem;
        font-size: 2rem;
        border: 1px solid #dedede;

        .displayExcel {
           @include excelTableStyle;
        }
    }

    p {
        font-size: 22px;
        margin: 1rem;
        text-transform: uppercase;
        color: red;
        letter-spacing: 1px;
    }

    .buttons {
        @include flexCenter;

        button {
            width: 20%;
            background-color: #eeeeee;
            color: #000000;
        }

        .active {
            background-color: black;
            color: white;

            &:hover {
                background-color: #171717;
            }
        }
        .inactive{
            opacity: .2;
        }
    }

}
