@import "variables";
@import "mixin";

.employeeContainer {
    @include container;
    text-align: left;
    @media screen and (max-width: $bp-tablet) {
        margin-top: 4vh;
    }


    hr {
        display: none;
        border: 1px solid $borderColor;
        width: 80%;
        margin: auto;
        @media screen and (max-width: $bp-tablet) {
            display: block;
        }
    }

    h1 {
        font-size: 25px;
        font-weight: 700;
        @media screen and (max-width: $bp-tablet) {
            font-size: 22px;
            text-align: center;
            margin: 3rem 0;
        }
    }

    //introSection
    .intro {
        @include flexCenter;
        justify-content: flex-start;
        margin-bottom: 2rem;
        @media screen and (max-width: $bp-tablet) {
            flex-wrap: wrap;
            justify-content: space-around;
            //padding: 3rem 1rem 3rem 5rem;
            padding-bottom: 3rem;
        }

        .userName {
            margin: 0 1rem;
        }

        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-left: 10px;
            @media screen and (max-width: $bp-tablet) {
                font-size: 2vh;
                //width: 120px;
            }
        }

        h3 {
            font-size: 15px;
            color: rgba(107, 117, 135, 1);
            font-weight: 600;
            margin-right: 2rem;
            @media screen and (max-width: $bp-tablet) {
                font-size: 1.5vh;
                min-width: 140px;
                margin-top: 2rem;
            }
        }

        .lightFont {
            font-weight: 100;
        }

        span {
            font-size: 2vh;
            font-weight: 700;
            @media screen and (max-width: $bp-tablet) {
                font-size: 1.5vh;
            }

        }

        img {
            width: 6rem;
            height: 6rem;
            border-radius: 100px;
            @media screen and (max-width: $bp-tablet) {
                width: 16rem;
                height: 16rem;
            }
        }

        button, h4 {
            padding: .9rem;
            cursor: pointer;
            background-color: black;
            color: white;
            font-size: 2vh;
            border-radius: 7px;
            margin-left: auto;
        }

        h4 {
            display: none;
            @media screen and (max-width: $bp-tablet) {
                display: block;
                text-align: center;
                background-color: #ffffff;
                color: black;
                margin-right: auto;
            }
        }

        button {
            @media screen and (max-width: $bp-tablet) {
                display: none;
            }
        }
    }

    //introSection

    //filterSection
    .filtersContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 2rem 0 2rem -4vw;
        @media screen and (max-width: $bp-tablet) {
            grid-template-columns: repeat(1, 1fr);
            width: 80vw;
            margin-left: 5vw;
        }

        select, input, option {
            padding: .7rem;
            margin: 0 0 0 2rem;
            font-size: 2vh;
            color: $grey;
            background-color: white;
            border: 1px solid $borderColor;
            border-radius: 8px;
            @media screen and (max-width: $bp-tablet) {
                padding: 2rem;
                margin: 1rem 0;
            }
        }

        .search {
            width: 35vw;
            font-size: 2vh;
            @media screen and (max-width: $bp-tablet) {
                padding: 2rem;
                margin: 2rem 0;
                position: relative;
                width: 100%;
            }

            &:focus {
                outline: none;
            }
        }

        .searchIcon {
            background-color: inherit;
            margin-left: -35px;
            @media screen and (max-width: $bp-tablet) {
                position: absolute;
                right: 7vw;
                margin-top: 3rem;
            }
        }

    }

    //filterSection
    .generatePDF {
        cursor: pointer;
        @include flexCenter;

        p {
            margin-left: 1rem;
            color: $blue;
            font-weight: 600;
            font-size: 2.3vh;
        }

        @media screen and (max-width: $bp-tablet) {
            margin-top: 60px;
        }
    }
}

.tableContainer {
    overflow-x: auto;
    margin: 1rem 1rem 2rem 1rem;
    @include tableStyle(85vw, 95vw);

    .listApproved {
        @include listStyleColored(rgba(114, 200, 47, 1));
    }

    .listPending {
        @include listStyleColored(rgba(228, 186, 33, 1));
    }

    .listRejected {
        @include listStyleColored(rgba(228, 33, 104, 1));
    }
}

