@import "variables";
@import "mixin";

.navUL {
    border-bottom: 1px solid #efefef;
    @include flexCenter();
    flex-wrap: wrap;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    @media screen and (max-width: $bp-tablet) {
        padding-left: 0;
    }

    a {
        color: black;
        font-size: 2vh;
    }

    li {
        font-size: 3vh;
        list-style: none;
    }


    hr {
        opacity: 0;
        @media screen and (max-width: $bp-tablet) {
            //width: 68vw;
            color: #ececec;
        }
    }
    .activeHr hr {
        opacity: 1;
        border: 1px solid #111111
    }

    .inActive {
        padding: 1.1rem;

        &:hover {
            //background-color: #f1f1f1;
        }
    }

    .active {
        padding: 1.1rem 0 1.1rem 0;
        //background-color: #efefef;
    }
}

.modal-logout {
    button {
        border-style: none;
        background-color: black;
        font-size: 1.6vh;
        width: 8%;
        margin: 1rem;
        position: absolute;
        top: 6vh;
        right: 20px;
        padding: 9px;
        border-radius: 5px;
        color: rgb(228, 224, 224);
        cursor: pointer;

        @media screen and (max-width: $bp-tablet) {
            position: unset;
            width: 80%;
        }
    }
}
.text-mainBlue{
    color: #0a53be;
}

