@import "variables";
@import "mixin";

.navUL {
    border-bottom: 1px solid #5b5b5b;
    @include flexCenter();
    flex-wrap: wrap;
    border-radius: 8px;
    @media screen and (max-width: $bp-tablet) {
        flex-direction: column;
        padding-left: 0;
    }

    li {
        list-style: none;
    }
    .logo{
        padding: 0 3rem 0 3rem;
    }
    .user{
        position: absolute;
        right: 0;
        padding: 1.5rem 3rem 1.5rem 3rem;
    }
    hr {
        opacity: 0;
        @media screen and (max-width: $bp-tablet) {
            width: 68vw;
            color: #ececec;
        }
    }

    .inActiveHr:hover hr {
        opacity: 1;
        border: 1px solid #111111
    }

    .activeHr hr {
        opacity: 1;
        border: 1px solid #131313
    }

    .inActive {
        cursor: pointer;
        padding: 1.1rem;

        &:hover {
            background-color: #f1f1f1;
        }
    }

    .active {
        cursor: pointer;
        padding: 1.1rem;
        background-color: #efefef;
    }
}
