@import "variables";
@import "mixin";

.notFoundPage{
    height: 100vh;
    background-color: $offWhite;
    text-align: center;

    h2{
        @include centerItemsAbsolute;
        color: #000000;
        font-size: 3vh;
    }
}
