@import "variables";
@import "mixin";

.requests {
    @include container;
    text-align: left;

    .filters {
        margin: 2rem 0 2rem 0;
        display: grid;
        grid-template-columns: auto auto;
        width: 30vw;
        @media screen and (max-width: $bp-mobile) {
            width: 100vw;
            margin: 2vh;
        }
        grid-gap: 1rem;

        h5 {
            margin-bottom: 10px;
            color: $grey;
            @media screen and (max-width: $bp-mobile) {
                font-size: 2vh;
            }
        }

        .periodFilter {
            margin-left: 15vw;
            @media screen and (max-width: $bp-mobile) {
                margin-left: 50vw;
            }
        }
    }

    .requestsList {
        border: 1px solid $borderColor;
        margin-bottom: 2rem;
        .tableContainer {
            margin: 1rem 1rem 2rem 1.5rem;
            @include tableStyle(70vw, 95vw);
        }
    }
}

.statCards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: auto;
    margin-bottom: 2rem;
    @media screen and (max-width: $bp-mobile) {
        width: 100vw;
        grid-template-columns: auto;
    }
}

.yearInput, .periodInput {
    min-width: 12.5vw;
    display: flex;
    justify-content: space-between;
    border: 1px solid $borderColor;
    padding: .7rem;
    border-radius: 8px;
    color: $grey;

    p, option {
        font-size: 2vh;
    }

    @media screen and (max-width: $bp-mobile) {
        width: 30vw;
        font-size: 2vh;
    }
}
