@import "mixin";
@import "variables";

.resolveUsersContainer {
    @include container;

    .displayExcel {
        @include excelTableStyle;
        width: 85vw;
    }

    h2{
        font-size: 3vh;
        color: #03110b;
        text-transform: uppercase;
        @include centerItemsAbsolute;
    }
    h1{
        font-size: 2.5vh;
        color: #03110b;
        text-transform: uppercase;
        margin-bottom: 2vh;
    }
    hr{
        color: white;
    }
}
