@import "variables";
@import "mixin";

.settingsContainer {
    @include container;

    h2 {
        font-size: 30px;
        text-align: left;
        margin-bottom: 2rem;
    }

    form {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;

        @media screen and (max-width: $bp-tablet) {
            grid-template-columns: auto;
        }

        .flex-column {
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
                margin-bottom: 5px;
                color: #262626;
            }
        }

        input {
            padding: 5px;
            width: 97%;

            @media screen and (max-width: $bp-tablet) {
                width: 95%;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .faqEdit {
        margin: 2rem 0;
        @media screen and (max-width: $bp-tablet) {
            margin: 1rem;
        }

        button {
            padding: 5px;
            border-radius: 5px;
            margin: 0 10px;
            cursor: pointer;
            background-color: #000000;
            color: white;

            &:hover{
                background-color: #c4c4c4;
                color: black;
            }
        }

        label {
            position: relative;
            font-size: 20px;
            color: #262626;
        }
    }

    .faq {
        border: 1px solid rgb(215, 215, 215);
        margin: 2rem 0;

        .rdw-editor-main {
            padding: 0 20px 10px;
        }

        @media screen and (max-width: $bp-tablet) {
            margin: 1rem;
        }

        label {
            position: relative;
            right: 48%;
            font-size: 20px;
            color: #262626;
        }
    }

    .save {
        margin-top: 1px;
        padding: .5rem;
        font-size: 22px;
        border-radius: 5px;
    }

    .logoContainer{
        margin-top: 200px;
        margin-bottom: -100px;
        @include centerItems;
        width: 40vw;

        img{
            height: 300px;
            width: 300px;
            object-fit: contain;
            border: 1px solid grey;
        }
    }
    .uploadLogo{
        @include flexCenter;
        //margin: 2rem 0;
        cursor: pointer;
        float: right;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid #d7d7d7;


        label{
            margin-top: 1rem;
            margin-left: 10px;
        }
    }

}
