@import "mixin";

.upload-bill-submit-btn {
    background-color: black!important;
    color: white;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #222222 !important;
        color: #ffffff;
    }
}

.upload-bill-close-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.uploadBillForm{
    @include centerItemsAbsolute;
    min-width: 400px;

    input, select{
        width: 95%!important;
    }
}

