.App {
    text-align: center;
}
a{
    text-decoration: none;
}
button {
    border-style: none;
}

.centerItem{
    display: none;
    justify-content: center;
    justify-items: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.pagination{
    margin: 2rem 1rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination > li{
    list-style: none;
    font-size: 3vh;
    padding: .5rem;
}
.paginationItem{
    color: black;
    font-weight: 700;
    padding: .6rem;
    border-radius: 2px;
    background-color: #c9c9c9;
}

.activeLink{
    color: white;
    background-color: black;
}

::-webkit-scrollbar {
    height: 1px;
    width: 1px;
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: inherit;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

.tr{
    display: none;
}

